
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Login Ekranı</title>
    
</head>
<body>
    <div class="main">
        <h2>Giriş Ekranı</h2>
        <div class="main-w3lsrow">
            <div class="login-form login-form-left">
                <div class="agile-row">
                   
                    <div class="login-agileits-top">
                        <form action="#" method="post">
                            <p>Kullanıcı Adı:</p>
                            <input type="text" class="name" name="Kullanici" required="" />
                            <p>Şifre:</p>
                            <input type="password" class="name" name="Sifre" required="" />
                            <br />
                            <label class="anim">
                                <input type="checkbox" class="checkbox"/>
                                <span>Beni Hatırla</span>
                            </label>
                            <br />
                            <input type="submit" value="Login"/>
                            
                        </form>  

                    </div>
                    <div class="login-agileits-bottom">
                        <h6><a href="#">Şifremi Unuttum?</a></h6>
                    </div>
                    
            <div class="copyright">
                <p> Tüm Hakları Saklıdır</p>

            </div>
        </div>
    </div>
</body>
</html>

